<html ng-app="ListaTelefonica">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <style type="text/css">
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px
        }
        
        table {
            margin-top: 20px;
        }
        
        .form-control {
            margin-top: 10px;
        }
        
        .btn {
            margin-top: 10px;
        }
        
        .selecionado {
            background-color: yellow;
        }
        
        .color {
            width: 20px;
            height: 20px;
        }
        
        .negrito {
            font-weight: bold;
        }
    </style>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script>
        angular.module("ListaTelefonica", []);
        angular.module("ListaTelefonica").controller("ListaTelefonicaCtrl", function($scope) {
            $scope.app = "Lista Telefonica";
            $scope.contatos = [{
                nome: "Pedro",
                telefone: "1321654654",
                cor: "red"
            }, {
                nome: "Ana",
                telefone: "1321654654",
                cor: "blue"
            }, {
                nome: "Maria",
                telefone: "1321654654",
                cor: "yellow"
            }, ];

            $scope.operadoras = [{
                nome: "Oi",
                codigo: 14,
                categoria: "Celular"
            }, {
                nome: "Tim",
                codigo: 41,
                categoria: "Celular"
            }, {
                nome: "Vivo",
                codigo: 15,
                categoria: "Celular"
            }, {
                nome: "Embratel",
                codigo: 21,
                categoria: "Fixo"
            }, {
                nome: "GVT",
                codigo: 25,
                categoria: "Fixo"
            }]

            $scope.AdicuionarContatos = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            }

            $scope.ApagarContatos = function(contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    if (!contato.selecionado) return contato;
                });
            }
            $scope.isContatoSelecionado = function(contatos) {
                return contatos.some(function(contato) {
                    if (contato.selecionado) return contato;
                });
            }
        });
    </script>
</head>

<body ng-controller="ListaTelefonicaCtrl">
    <div class="jumbotron">
        <h2>{{app}}</h2>
        <table class="table table-striped" ng-if="contatos.length > 0">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                <th><input type="checkbox" ng-model="contato.selecionado" /></th>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>
                    <div class="color" ng-style="{'background-color': contato.cor}"></div>
                </td>
            </tr>
        </table>

        <form name="contatoForm">
            <input type="text" class="form-control" ng-model="contato.nome" name="nome" placeholder="Digite o Nome" ng-required="true" />
            <input type="text" class="form-control" ng-model="contato.telefone" name="telefone" placeholder="Digite o Telefone" ng-required="true" />
            <select class="form-control" name="operadoras" ng-model="contato.operadora" id="operadoras" ng-required="true" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecionar Operadora</option>
        </select>
        </form>
        <div ng-show="contatoForm.nome.$invalid" class="alert alert-danger">
            Por favor preencha o Nome
        </div>
        <div ng-show="contatoForm.nome.$invalid" class="alert alert-danger">
            Por favor preencha o Telefône
        </div>
        <button type="button" class="btn btn-primary btn-block" ng-click="AdicuionarContatos(contato)" ng-disabled="contatoForm.$invalid">Salvar</button>
        <button type="button" class="btn btn-danger btn-block" ng-click="ApagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
    </div>

    <!--<div ng-include="'footer.html'"></div>-->
</body>

</html>