<html ng-app="ListaTelefonica">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <style type="text/css">
        .jumbotron {
            width: 500px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px
        }
        
        table {
            margin-top: 20px;
        }
        
        .form-control {
            margin-top: 10px;
        }
        
        .btn {
            margin-top: 10px;
        }
        
        .selecionado {
            background-color: yellow;
        }
        
        .color {
            width: 20px;
            height: 20px;
        }
        
        .negrito {
            font-weight: bold;
        }
    </style>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/angular-messages.js"></script>
    <script type="text/javascript" src="lib/angular-locale_pt-br.js"></script>
    <script>
        angular.module("ListaTelefonica", ["ngMessages"]);
        angular.module("ListaTelefonica").controller("ListaTelefonicaCtrl", function($scope, $filter, $http) {
            $scope.app = "Lista Telefonica";
            $scope.contatos = [];

            var carregarContatos = function() {
                $http.get("http://localhost:3000/contatos").then(function(dados) {
                    $scope.contatos = dados.data;
                });
            }

            $scope.operadoras = []


            var carregarOperadoras = function() {
                $http.get("http://localhost:3000/operadoras").then(function(dados) {
                    $scope.operadoras = dados.data;
                });
            }

            $scope.AdicuionarContatos = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            }

            $scope.ApagarContatos = function(contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    if (!contato.selecionado) return contato;
                });
            }
            $scope.isContatoSelecionado = function(contatos) {
                return contatos.some(function(contato) {
                    if (contato.selecionado) return contato;
                });
            }
            $scope.ordenarPor = function(campo) {
                $scope.criterioDeOdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            }
            carregarContatos();
            carregarOperadoras();
        });
    </script>
</head>

<body ng-controller="ListaTelefonicaCtrl">
    <div class="jumbotron">
        <h2>{{app}}</h2>
        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando" />
        <table class="table table-striped" ng-if="contatos.length > 0">
            <tr>
                <th></th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th><a href="" ng-click="ordenarPor('operadora')">Operadora</a></th>
                <th><a href="" ng-click="ordenarPor('data')">Data</a></th>
                <th></th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: {nome:criterioDeBusca} | orderBy:criterioDeOdenacao:direcaoDaOrdenacao">
                <th><input type="checkbox" ng-model="contato.selecionado" /></th>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date:"dd/MM/yyyy hh:mm"}}</td>
                <td>
                    <div class="color" ng-style="{'background-color': contato.cor}"></div>
                </td>
            </tr>
        </table>

        <form name="contatoForm">
            <input type="text" class="form-control" ng-model="contato.nome" name="nome" placeholder="Digite o Nome" ng-required="true" maxlength="20" ng-minlength="4" />
            <input type="text" class="form-control" ng-model="contato.telefone" name="telefone" placeholder="ddd 00000000" ng-required="true" maxlength="11" ng-minlength="10" ng-pattern="/^[0-9]/" />
            <select class="form-control" name="operadoras" ng-model="contato.operadora" id="operadoras" ng-required="true" ng-options="operadora.nome + ' ' + (operadora.preco | currency) group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
            <option value="">Selecionar Operadora</option>
        </select>
        </form>

        <div ng-messages="contatoForm.nome.$error">
            <div ng-message="required" ng-if="contatoForm.nome.$dirty" class="alert alert-danger">
                Por favor preencha o Nome
            </div>
            <div ng-message="minlength" ng-if="contatoForm.nome.$dirty" class="alert alert-danger">
                Campo nome deve ter mais que 4 caracteres
            </div>
        </div>

        <div ng-messages="contatoForm.telefone.$error">
            <div ng-message="pattern" ng-if="contatoForm.telefone.$dirty" class="alert alert-danger">
                Campo Telefone inválido
            </div>
            <div ng-message="required" ng-if="contatoForm.telefone.$dirty" class="alert alert-danger">
                Por favor preencha o Telefone
            </div>
        </div>

        <div ng-messages="contatoForm.operadoras.$error">
            <div ng-message="required" ng-if="contatoForm.operadoras.$dirty" class="alert alert-danger">
                Por favor selecione uma operadora
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-block" ng-click="AdicuionarContatos(contato)" ng-disabled="contatoForm.$invalid">Salvar</button>
        <button type="button" class="btn btn-danger btn-block" ng-click="ApagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
    </div>

    <!--<div ng-include="'footer.html'"></div>-->
</body>

</html>